@import url("http://fonts.cdnfonts.com/css/akira-expanded");
.navbar {
  margin-top: 1rem;
  align-self: flex-start;
  align-content: flex-start;
  color: #242525;
}
.nav-items{
  color: #242525!important;
  background-color: #242525;
}