@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.timeline{
    width:800px;
    color:#fff;
    padding:30px 20px;
    border-radius: 14px;
    background:linear-gradient(135deg, #CE9FFC 0%,#7367F0 100%);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    margin: 1rem;
}
.timeline ul{
	list-style-type:none;
	border-left:2px solid #C56CD6;
	padding:10px 5px;
}
.timeline ul li{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
	background-color:#CE9FFC;
	border-radius:25px;
	padding:2px 5px;
	font-size:15px;
	text-align:center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.timeline ul li .content h3{
	color:#CE9FFC;
	font-size:17px;
	padding-top:5px;
}
.timeline ul li .content p{
	padding:5px 0px 15px 0px;
	font-size:15px;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color: #C56CD6;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;

}
.timeline ul li:hover{
    background-color:#7267f057;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.timeline ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
    border-radius: 14px;

}
@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}

}